# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
build/
*.venv/
venv/

# Environment
.env
*.env

# Logs
*.log

# Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspacefirebase-adminsdk.json
firebase-adminsdk.json
