# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
build/
*.venv/
venv/
env/
develop-eggs/ 
dist/ 
downloads/
eggs/ 
.eggs/ 
lib64/ 
parts/ 
sdist/ 
var/ 
wheels/ 
*.egg-info/ 
.installed.cfg 
*.egg

# Type stub files
typings/
*.pyi
.mypy_cache/


# Environment
.env
*.env

# Logs
*.log

# Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.vercel

#Sensitive files
backend/firebase-adminsdk.json
charts.db

#Node.js

node_modules/ 
frontend/dist/ 
frontend/public/static/js/

#OS generated

.DS_Store 
Thumbs.db

node_modules/
frontend/node_modules/
backend/venv/
backend/__pycache__/
backend/.env
backend/logs/
backend/functionsbackend/firebase-adminsdk.json
node_modules
